{% extends 'blog/base.html' %}

{% block content %}
  
{% comment %}
 get_context_data(self, **kwargs)でカテゴリーを登録
 存在する場合はh1を表示させる
{% endcomment %}
  {% if category %}
    <h1>{{category}}<i>-category-</i></h1>
    <hr>
  {% endif %}
  {% if tag %}
    <h1>{{tag}}<i>-tag-</i></h1>
    <hr>
  {% endif %}
    

  {% for post in posts %}
    {% if post.is_published or user.is_authenticated %}
      
      {% if not post.is_published %}
      <span class="badge bg-danger">下書き</span>
      {% endif %}
        
      <h2>{{ post.title }}</h2>
      <!-- truncatecharsは取り出す文字数の設定30文字制限 -->
      <p>{{ post.content | truncatechars:30 }}</p>
      <p>{{ post.created_at }}</p>
      <p>{{ post.updated_at }}</p>
      <!-- ページごとにアクセスURLを変更するのでpost.pk -->
      <p><a href="{% url 'post-detail' post.pk %}">続きを読む</a></p>
    {% endif %}
  {% endfor %}

{% endblock content %}
